### Python template
# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

.venv/

*.params
*.json
.vscode/
*.zip
*.pt
*.mp4

data/*
infer_output/*
log/*
media/*
models/*
output/*
runs/*
squat/joint/*
pose_test/*

logic_test.py
